{{!-- <h1>{{title}}</h1> --}}
{{!-- <p>Welcome to {{title}}</p> --}}
{{!-- <h3>Xây Dựng Hệ Thống Đặt xe máy qua thông tin khách hàng nhập vào</h3> --}}
<script>

    var datatable = null;
    var socket = io("http://localhost:3000");

    socket.on('server-send-data', function (data) {
        console.log("client received: ", data);
        value = data.data;
        $('#list').empty();
        var html = []
        for (var key in value) {
            html += '<tr><td class="text-center">' + value[key].id + '</td><td>' + value[key].name + '</td><td>' + value[key].address + '</td><td>' + value[key].phone + '</td>'
                + '<td>' + value[key].notes + '</td>'
                + '<td>' + value[key].status1 + '</td>'
                + '<td>' + value[key].date + '</td>'
                + '<td class="td-actions text-center">'
                + ' <button value="' + value[key].id + '" onClick="defaultClick(' + value[key].id + ')"  type="button" class="btn btn-success btn-round getdemo"> Xem'
                + '</button ></td >';
        }
        $('#list').append(html);
    });

    socket.on('server-send-reload-data', function (data) {
        console.log("========================");
        console.log("reload data received from server: ", data);
    });


</script>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Nhập thông tin vị trí: </h3>
            </div>
            <div class="panel-body" style="height:470px;">
                <form id="formInfo">
                    <div class="">
                        <div class="form-group ">
                            Ho Ten:
                            <input onkeypress="onKeypress()" type="text" class="form-control" id="username" placeholder="Ho Ten">
                        </div>&#160;&#160;
                        <div class="form-group ">
                            So Dien Thoai:
                            <input onkeypress="onKeypress()" type="text" class="form-control" id="phonenumber"
                                placeholder="So dien thoai">
                        </div>
                    </div>
                    <br />
                    <div class="form-group ">
                        Dia chi don khach:
                        <input onkeypress="onKeypress()" onchange="onChange()" type="text" class="form-control" id="address"
                            placeholder="Dia chi">
                        {{!-- <p class="help-block">Example block-level help text here.</p> --}}
                    </div>
                    <div class="form-group ">
                        Ghi chú:
                        <textarea onkeypress="onKeypress()" class="form-control" cols="4" rows="2" id="note"
                            placeholder="ghi chu."></textarea>
                    </div>
                    <button type="submit" class="btn btn-info text-center">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div id="google-map-api" style="width: 100%; height: 510px; background: grey" class="text-center">
        </div>
        <div id="panel" style="width: 100% "></div>
    </div>
</div>


<br />
<br />
<div class="container-fluid">
    <div class="title">
        <h3>Danh sách thông tin khách hàng</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4></h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th>Tên</th>
                            <th>Địa chỉ</th>
                            <th>Số điện thoại</th>
                            <th>Ghi chú</th>
                            <th>Tình trạng</th>
                            <th>Ngày tạo</th>
                            <th class="text-center">Xem vị trí
                                <button type="button" rel="tooltip" class="btn btn-success btn-round btn-just-icon btn-sm"
                                    data-original-title="" title="">
                                    <i class="material-icons">place</i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="databody">
                        {{#each datatable}}
                        <tr>
                            <td class="text-center">{{this.id}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.address}}</td>
                            <td>{{this.phone}}</td>
                            <td>{{this.notes}}</td>
                            <td>{{this.status1}}</td>
                            <td>{{this.date}}</td>
                            <td class="td-actions text-center">

                                <button value={{this.id}} type="button" class="btn btn-success btn-round getdemo"> Xem
                                </button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        {{!--
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script> --}}
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            crossorigin="anonymous"></script>

        <script type="text/javascript">
            $(document).ready(function () {

            });


        </script>
        <hr />
        <h2>Content</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Tên</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Ghi chú</th>
                        <th>Tình trạng</th>
                        <th>Ngày tạo</th>
                        <th class="text-center">Xem vị trí
                            <button type="button" rel="tooltip" class="btn btn-success btn-round btn-just-icon btn-sm"
                                data-original-title="" title="">
                                <i class="material-icons">place</i>
                            </button>
                        </th>
                    </tr>
                </thead>

                <tbody id="list">

                </tbody>
            </table>
        </div>

        <script type="text/javascript" src="/javascripts/getInfo.js"></script>